
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/bootstrap";


.header{
	width:100%;
	background:#F7F7F9;
}
.content{
	margin-top:70px;
}

